%div.page-header
  %h1 Edycja konta

= form_for(@user) do |f|
  
  %div.field
    = f.label :username, "Nick"
    = f.text_field :username
    = f.error_message_on(:username)
    
  %div.field
    = f.label :email, "Email"
    = f.email_field :email  
    = f.error_message_on(:email)
  
  %div.field
    = f.label :age, "Wiek"
    = f.text_field :age, :class => "span1"
    = f.error_message_on(:age)
    
  %div.actions
    = f.submit "Zapisz zmiany", :class => 'btn btn-primary'

= link_to "Wróć", :back, :class => "btn"
