%div.page-header
  %h1 Edycja dokumentu

= form_for(@document) do |f|
  
  %div.field
    = f.label :title, "Tytuł"
    = f.text_field :title
    = f.error_message_on(:title)

  %div.actions
    = f.submit "Zapisz zmiany", :class => 'btn'

%div#editor
  -if @document.lines.blank?
    %p.contentEditor{"contentEditable" => true}
  -else
    - @document.lines.each do |line|
      %p.contentEditor{"contentEditable" => true}
        =line.text

  %a#submit.btn{:href => "#"} Zapisz
