%div.page-header
  %h1 Edycja dokumentu

%p Zalogowany jako #{current_user.username}

= form_for(@document) do |f|
  
  %div.field
    = f.label :title, "Tytuł"
    = f.text_field :title
    = f.error_message_on(:title)

  %div.actions
    = f.submit "Zapisz zmiany", :class => 'btn'

%div{id: "editor", data: {update: update_line_path(@document.id), new: new_line_path(@document.id)} }
  - @document.lines.each do |line|
    %p.contentEditor{contentEditable: true, id: "line-#{line.id}"}= line.text

%div#buffer


- content_for :javascripts do
  = javascript_include_tag :application
