%div.page-header
  %h2 Dokumenty
  =link_to "Nowy dokument", new_document_path, :class => 'btn'

- if @documents.blank?
  %p Brak wyników
- else

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Tytuł
        %th Data utworzenia
        %th Data modyfikacji
        %th Właściciel
        %th Udostępnianie
        %th Edytuj
        %th Usuń
    %tbody
      - @documents.each do |document|
        %tr
          %td= link_to document.title, document
          %td= document.created_at.to_formatted_s :short
          %td= document.updated_at.to_formatted_s :short
          %td= document.user.fullname
          %td= link_to 'Udostępnij', invite_document_path(document)
          %td= link_to 'Edytuj', edit_document_path(document)
          %td.action
            - if current_user.id == document.user.id
              = form_for document, html: {method: :delete} do |f|
                = f.submit 'x', class: "btn"
